Repository unb-mds/MDS-MonitoraBSB, pull requests merged in 2025-02, with the labels that each got.

#92 Responsividade para páginas de registro e página de menu
  frontend/src/pages/Endereco.tsx
  frontend/src/pages/Menu.tsx
  frontend/src/styles/Filtros.css
  frontend/src/styles/Menu.css
  frontend/src/styles/Registros.css
Labels: Frontend

#102 Teste unitário para componente da Logo
  frontend/package-lock.json
  frontend/package.json
  frontend/setupTests.js
  frontend/src/tests/logo.test.jsx
  frontend/vite.config.ts
  package-lock.json
  package.json
Labels: test

#106 Problema com caracteres especiais no consumo da API
  backend/Dockerfile
  backend/app/__init__.py
  backend/app/models/obra.py
  initdb/backup_monitorabsb_20250118.sql
  initdb/restore.sh
Labels: Backend

#96 Tipofiltro
  backend/app/__init__.py
  backend/app/views/view_filtros.py
Labels: Backend

#107 Finalização do Filtro de Valor e Executor
  backend/app/create_app.py
  backend/app/services/api_consumer.py
  backend/app/views/view_obra.py
  frontend/src/hooks/useObras.tsx
  frontend/src/pages/FiltroExecutor.tsx
  frontend/src/pages/FiltroValor.tsx
  frontend/src/pages/InformacoesGerais.tsx
  frontend/src/pages/MapaGeral.tsx
  frontend/src/utils/FiltroUtils.tsx
  initdb/dump.sql
Labels: Frontend, Backend
